{{> dashhead}}

<section id="content">
    <section class="content-scroll-div">

        <div class="content-header">
            <h1>Edit image: {{name}}</h1>
        </div>

        <div class="content-form">
        
            <form action="/dashboard/content/edit/{{id}}" method="post"> 

                <fieldset class="normal-input required {{#if errorName}}error{{/if}}">
                    <label for="form-title">Image title</label>
                    <input value="{{name}}" id="form-title" name="name" type="text" maxlength="100">
                    {{#if errorName}}
                        <p class="error-message">{{errorName}}</p>
                    {{/if}}
                </fieldset>

                <fieldset class="normal-button">
                    <input id="form-submit" value="Save changes" name="submit" class="submit-btn" type="submit">
                    <button type="button" class="cancel-btn"><a href="/dashboard/content/">Cancel</a></button>
                </fieldset>

                <fieldset class="normal-button">
                    <button type="button" class="cancel-btn"><a href="/dashboard/content/delete/{{id}}">Delete this image</a></button>
                </fieldset>

            </form>

        </div>

    </section>
</section>

{{> dashfoot}}