{{> dashhead}}

<div class="content-wrapper">

    {{#if message}}

        {{message}}

    {{/if}}
    
    <section class="slideshow-options">
        <form action="/dashboard/slideshow/edit/{{id    }}" method="post"> 

            <fieldset class="slideshow-options__fieldset">
            <legend>Slideshow options</legend>

                <label>Slideshow name:
                    <input value="{{name}}" name="name" type="text" placeholder="Name"></input>
                </label>

                <label>Description:
                    <textarea name="description" type="text" placeholder="Description">{{description}}</textarea>
                </label>


                <input type="submit" value="Save your changes">


                {{#if error}}
                    <div class="msg">
                        {{error}}
                    </div>
                {{/if}}
                        
            </fieldset>

        </form>


        <fieldset class="slideshow-options__fieldset">
        <legend>Slides</legend>
        
        {{#each slide}}

            <section class="block-item-slide">
                    <form action="/dashboard/slideshow/edit/{{slideshow_id}}/slide/{{slideId}}" method="post"> 
                    <ul>
                        <li><strong>{{name}}<strong></li>
                    </ul>

                    <header class="block-image">
                        <img src="/media/slideshow-new.png">
                    </header>
                    <footer class="block-footer">
                        <ul>
                            <li>
                                <label>Slide order:
                                    <input type="number" name="order" type="slide-order" value="{{slide_order}}" placeholder="Optional slide order">
                                </label>
                            </li>
                            <li>
                                <label>Slide duration:
                                    <input type="number" name="duration" type="slide-duration" value="{{duration}}" placeholder="Slide duration">
                                </label>
                            </li>
                            <li>
                                <input type="submit" value="Quick edit">
                            </li>
                        </ul>
                    </footer>
                </form>

                <form action="/dashboard/slideshow/edit/{{slideshow_id}}/slide/remove/{{slideId}}" method="post"> 
                    <input type="submit" value="Remove slide">
                </form>

            </section>

        {{/each}}

        <section class="block-item new-item"><a href="/dashboard/slideshow/edit/{{id}}/slide/new/">
            <header class="block-image">
                <img src="/media/slideshow-new.png">
            </header>
            <footer class="block-footer">
                <ul>
                    <li><strong>Add a slide</strong></li>
                </ul>
            </footer>
        </a></section>

        </fieldset>

    <a href="/dashboard/slideshow/"><button>Cancel</button></a>
    <a href="/dashboard/slideshow/delete/{{id}}"><button>Delete this slideshow</button></a>

    </section>

</div>

{{> dashfoot}}