{{> dashhead}}

<div class="content-wrapper">
                
    <section class="slideshow-options">
    <form action="/dashboard/slideshow/edit/{{id}}" method="post"> 

        <fieldset class="slideshow-options__fieldset">
        <legend>Slideshow options</legend>

            <label>Slideshow name:
                <input value="{{name}}" name="name" type="text" placeholder="Name"></input>
            </label>

            <label>Descriptionnn:
                <textarea name="description" type="text" placeholder="Description">{{description}}</textarea>
            </label>

            {{#if error}}
                <div class="msg">
                    {{error}}
                </div>
            {{/if}}
                    
        </fieldset>

        <fieldset class="slideshow-options__fieldset">
        <legend>Slides</legend>
        
        {{#each slide}}

            <section class="block-item-slide new-item"><a href="/dashboard/slideshow/edit/{{slideshow_id}}/slide/{{id}}">
                <header class="block-image">
                    <img src="/media/slideshow-new.png">
                </header>
                <footer class="block-footer">
                    <ul>
                        <li><strong>{{name}}</strong></li>
                </footer>
            </a></section>

        {{/each}}

        <section class="block-item new-item"><a href="/dashboard/slideshow/edit/{{id}}/slide/new/">
            <header class="block-image">
                <img src="/media/slideshow-new.png">
            </header>
            <footer class="block-footer">
                <ul>
                    <li><strong>Add a slide</strong></li>
                </ul>
            </footer>
        </a></section>

        </fieldset>

        <input type="submit" value="Save your changes">

    </form>

    <a href="/dashboard/slideshow/"><button>Cancel</button></a>
    <a href="/dashboard/slideshow/delete/{{id}}"><button>Delete this slideshow</button></a>

    </section>

</div>

{{> dashfoot}}