{{> dashhead}}

<section class="content-wrapper">
    
    <section class="slideshow-options">
    <form action="/dashboard/slideshow/new/" method="post"> 

        <fieldset class="slideshow-options__fieldset">
        <legend>Slideshow options</legend>

            <label>Slideshow name:
                <input name="name" type="text" placeholder="Name"></input>
            </label>

            <label>Description:
                <input name="description" type="text" placeholder="Description"></input>
            </label>

            {{#if error}}
                <div class="msg">
                    {{error}}
                </div>
            {{/if}}
                    
        </fieldset>

        <fieldset>
        <legend>All content</legend>
            <fieldset>
            <legend>Images</legend>
                
                <section class="content-category-wrapper">

                    {{#each image}}
                    <section class="content-item">
                        <header class="block-image">
                            <img src="/uploads/{{link}}">
                        </header>
                        <footer class="content-footer">
                            <ul>
                                <li><strong>Name: </strong>{{name}}</li>
                                <li><label><strong>Add to slideshow</strong><input name="{{id}}" type="checkbox"></label></li>
                            </ul>
                        </footer>
                    </section>
                    {{/each}}

                </section>

            </fieldset>
            <fieldset>
            <legend>Video's</legend>

                <section class="content-category-wrapper">

                    {{#each video}}
                    <section class="content-item">
                        <header class="block-image">
                            <img src="/media/play.png">
                        </header>
                        <footer class="content-footer">
                            <ul>
                                <li><strong>Name: </strong>{{name}}</li>
                                <li><label><strong>Add to slideshow</strong><input name="{{id}}" type="checkbox"></label></li>
                            </ul>
                        </footer>
                    </section>
                    {{/each}}

                </section>

            </fieldset>
            <fieldset>
            <legend>Twitter</legend>

                <section class="content-category-wrapper">

                    {{#each tweet}}
                    <section class="content-item">
                        <header class="block-image">
                            <img src="/media/twitter.png">
                        </header>
                        <footer class="content-footer">
                            <ul>
                                <li><strong>Name: </strong>{{name}}</li>
                                <li><label><strong>Add to slideshow</strong><input name="{{id}}" type="checkbox"></label></li>
                            </ul>
                        </footer>
                    </section>
                    {{/each}}
        
                </section>

            </fieldset>
        </fieldset>

        <input type="submit" value="Add new slideshow">

    </form>
    <a href="../"><button>Cancel</button></a>

    </section>

</section>

{{> dashfoot}}