<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
		<meta name="author" content="Robert Spier">
		<link rel="stylesheet" href="/style/style.css">
		<title>Prototype - {{title}}</title>
	</head>

	<body>
		<main class="login-container">

			<section id="content">

				<div class="content-form">
				
					<h1>Register to CMD-DPD</h1><a href="/dashboard/login/">Already have an account?</a>

                    <form action="/dashboard/register/" method="post">

						<fieldset class="normal-input required {{#if errorName}}error{{/if}}">
							<label for="form-login">Login name</label>
							<input id="form-login" name="name" type="text" maxlength="100">
							{{#if errorName}}
								<p class="error-message">{{errorName}}</p>
							{{/if}}
						</fieldset>

						<fieldset class="normal-input required {{#if errorEmail}}error{{/if}}">
							<label for="form-email">Email</label>
							<input id="form-email" name="email" type="text" maxlength="100">
							{{#if errorEmail}}
								<p class="error-message">{{errorEmail}}</p>
							{{/if}}
						</fieldset>

						<fieldset class="normal-input required {{#if errorPass}}error{{/if}}">
							<label for="form-pass">Password</label>
							<input id="form-pass" name="pass" type="password" maxlength="100">
							{{#if errorPass}}
								<p class="error-message">{{errorPass}}</p>
							{{/if}}
						</fieldset>

						<fieldset class="normal-input required {{#if errorConf}}error{{/if}}">
							<label for="form-confirm">Confirm password</label>
							<input id="form-confirm" name="confirm" type="password" maxlength="100">
							{{#if errorConf}}
								<p class="error-message">{{errorConf}}</p>
							{{/if}}
						</fieldset>

						<fieldset class="normal-button">
							<input id="form-submit" value="Register" name="submit" class="submit-btn" type="submit">
						</fieldset>

					</form>

				</div>

			</section>

		</main>
   </body>
</html>
