<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="/style/front.css">
        <title>Prototype - Poster</title>
    </head>

    <body>
        {{#if error}}
            {{error}}
        {{/if}}

        <main id="slideshow">
        
            {{#each image}}
            <section data-duration="{{duration}}" class="item {{type}}">
                <img src="/uploads/{{link}}" alt="Poster CMD">
            </section>
            {{/each}}
        
            {{#each video}}
            <section data-duration="video" class="item {{type}}">
                <div id="{{id}}" data-video="{{link}}"></div>
            </section>
            {{/each}}

            {{#each tweet}}
            <section data-duration="{{duration}}" class="item tweet">
                <div class="tweet__info">
                    <img src="{{bgimage}}">
                    <section class="tweet__screenname"><h2>@{{screen_name}}</h2></section>
                    <section class="tweet__name"><h1>{{name}}</h1></section>
                </div>


                <div class="tweet__contains">

                    <section class="tweet__content">"{{content}}"</section>
    
                    {{#if media}}
                        <section class="tweet__media">
                            <img src="{{media}}">
                        </section>
                    {{/if}}    

                </div>
            </section>
            {{/each}}


        </main>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/ffo.js"></script>
    <script src="/js/checkFont.js"></script>
    <script src="/js/front.js"></script>
</html>