<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="/style/front.css">
        <title>Prototype - Poster</title>
    </head>

    <body>
        {{#if error}}
            {{error}}
        {{/if}}

        <main id="slideshow">
            {{#each image}}
            <section class="item {{type}}">
                <img src="/uploads/{{link}}" alt="Poster CMD">
            </section>
            {{/each}}

            {{#each video}}
            <section class="item {{type}}">
                <img src="/uploads/{{link}}" alt="Poster CMD">
            </section>
            {{/each}}

        </main>
   </body>
   <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
   <script src="/js/front.js"></script>
</html>