<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Prototype for the 'Meesterproef' of the minor Web Development">
        <meta name="author" content="Robert Spier">
        <link rel="stylesheet" href="/style/front.css">
        <title>Prototype - Poster</title>
    </head>

    <body>
        {{#if error}}
            {{error}}
        {{/if}}

        <main id="slideshow">
        <!--
            {{#each image}}
            <section class="item {{type}}">
                <img src="/uploads/{{link}}" alt="Poster CMD">
            </section>
            {{/each}}
        -->
            {{#each video}}
            <section class="item {{type}}">
                <img src="/uploads/{{link}}" alt="Poster CMD">
            </section>
            {{/each}}

            {{#each tweet}}
            <section class="item tweet">
                <div class="tweet__image">
                    <img src="{{bgimage}}">
                </div>
                <div class="tweet__content">
                    <section class="tweet__screenname"><h2>@{{screen_name}}</h2></section>
                    <section class="tweet__name"><h1>{{name}}</h1></section>
                    <section class="tweet__content">"{{content}}"</section>
    
                    {{#if media}}
                        <section class="tweet__media">
                            <img src="{{media}}">
                        </section>
                    {{/if}}    

                </div>
            </section>
            {{/each}}


        </main>
   </body>
   <script src="/js/front.js"></script>
</html>