{{> dashhead}}

    <section id="content">
        <section class="content-scroll-div">

            <div class="content-header">
                <h1>Edit screen</h1>
            </div>

            <div class="content-form">
            
                <form action="/dashboard/screen/edit/{{id}}" method="post"> 

                    <fieldset class="normal-input required">
                        <label for="form-name">Screen name</label>
                        <input value="{{name}}" id="form-name" name="name" type="text" maxlength="100">
                    </fieldset>

                    <fieldset class="normal-input required">
                        <label for="form-desc">Screen description</label>
                        <textarea id="form-desc" name="desc" type="text" rows="4" maxlength="100">{{desc}}</textarea>
                    </fieldset>

                    <fieldset class="normal-input required">
                        <label for="form-desc">Screen location</label>
                        <input value="{{loc}}" id="form-desc" name="loc" type="text" maxlength="100">
                    </fieldset>

                    <fieldset class="normal-select">
                        <label for="form-slideshow">Assign a slideshow (optional)</label>
                        <select id="form-slideshow" name="slideshow">
                            <option {{#if none}}selected{{/if}} value="0">Do not assign slideshow</option>
                            {{#each slideshows}}
                            <option {{#if selected}}selected{{/if}} value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </fieldset>

                    <fieldset class="normal-button">
                        <input id="form-submit" value="Save changes" name="submit" class="submit-btn" type="submit">
                        <button type="button" class="cancel-btn"><a href="/dashboard/screen/">Cancel</a></button>
                    </fieldset>

                    <fieldset class="normal-button">
                        <button type="button" class="cancel-btn"><a href="/dashboard/screen/delete/{{id}}">Delete this screen</a></button>
                    </fieldset>

                </form>

            </div>

        </section>
    </section>

{{> dashfoot}}
