{{> dashhead}}

	<section id="content">
		<section class="content-scroll-div">

			<div class="content-header">
				<h1>Create new screen</h1>
			</div>

			<div class="content-form">
			
        		<form action="/dashboard/screen/new" method="post"> 

					<fieldset class="normal-input required {{#if errorName}}error{{/if}}">
						<label for="form-name">Screen name</label>
						<input id="form-name" name="name" type="text" maxlength="100">
                        {{#if errorName}}
                            <p class="error-message">{{errorName}}</p>
                        {{/if}}
					</fieldset>

					<fieldset class="normal-input required{{#if errorDesc}}error{{/if}}">
						<label for="form-desc">Screen description</label>
						<textarea id="form-desc" name="desc" type="text" rows="4" maxlength="100"></textarea>
                        {{#if errorDesc}}
                            <p class="error-message">{{errorDesc}}</p>
                        {{/if}}
					</fieldset>

					<fieldset class="normal-input required {{#if errorDesc}}error{{/if}}">
						<label for="form-desc">Screen location</label>
						<input id="form-desc" name="location" type="text" maxlength="100">
                        {{#if errorLoc}}
                            <p class="error-message">{{errorLoc}}</p>
                        {{/if}}
					</fieldset>

					<fieldset class="normal-select">
						<label for="form-slideshow">Assign a slideshow (optional)</label>
						<select id="form-slideshow" name="slideshow">
                            <option selected value="0">Do not assign slideshow yet</option>
                            {{#each slideshows}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
						</select>
					</fieldset>

					<fieldset class="normal-button">
						<input id="form-submit" value="Save changes" name="submit" class="submit-btn" type="submit">
						<button type="button" class="cancel-btn"><a href="#">Cancel</a></button>
					</fieldset>

				</form>

			</div>

		</section>
	</section>

{{> dashfoot}}
